In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [4]:
# Load CSV
file_to_load = 'Resources/nst-est2018-alldata.csv'
pop_data = pd.read_csv(file_to_load)
pop_data.head(10)

,SUMLEV,REGION,DIVISION,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2017,RDOMESTICMIG2018,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018
0,10,0,0,0,United States,308745538,308758105,309326085,311580009,313874218,...,0.000000,0.000000,2.553948,2.746049,2.701727,2.988276,3.328598,3.321549,2.941086,3.001086
1,20,1,0,0,Northeast Region,55317240,55318430,55380645,55600532,55776729,...,-5.651919,-5.222289,0.845134,0.040762,-0.397011,-0.923951,-2.011735,-2.430459,-1.801582,-1.127222
2,20,2,0,0,Midwest Region,66927001,66929743,66974749,67152631,67336937,...,-2.370672,-2.301663,-1.043009,-0.896575,0.042505,-0.715656,-1.357662,-1.226811,-0.519621,-0.431833
3,20,3,0,0,South Region,114555744,114563045,114867066,116039399,117271075,...,2.963135,2.779373,5.379667,5.836112,5.290067,6.206402,7.328494,7.225046,6.252425,6.148925
4,20,4,0,0,West Region,71945553,71946887,72103625,72787447,73489477,...,1.478565,1.350094,2.689358,3.226360,3.343874,4.148127,5.127995,5.372314,4.164981,3.965769
5,40,3,6,1,Alabama,4779736,4780138,4785448,4798834,4815564,...,0.424031,1.171362,0.516888,1.234191,1.607294,0.619874,0.646064,0.817666,1.079070,1.856398
6,40,4,9,2,Alaska,710231,710249,713906,722038,730399,...,-14.508975,-14.557034,0.474949,1.496795,-0.903612,-11.375421,-7.968225,-3.911968,-11.005272,-11.306342
7,40,4,8,4,Arizona,6392017,6392288,6407774,6473497,6556629,...,8.993644,11.707025,4.302215,7.038612,6.464858,9.347708,9.662843,12.020279,11.029897,13.723125
8,40,3,7,5,Arkansas,2915918,2916028,2921978,2940407,2952109,...,1.335801,0.822693,3.145819,0.916417,0.114350,-0.039479,1.093820,1.534978,2.063267,1.573921
9,40,4,9,6,California,37253956,37254523,37320903,37641823,37960782,...,-3.501098,-3.953271,1.376097,1.699095,1.847889,2.402701,2.159548,0.670554,-0.454811,-0.969421

In [6]:
# Clean 2017 ACS Population Estimates by State 
pop_clean = pop_data[['NAME','POPESTIMATE2017']]
pop_2017 = pop_clean.drop(axis=0, labels=range(5))
pop_2017.reset_index(drop=True, inplace=True)
pop_2017.head(51)

                    NAME  POPESTIMATE2017
0                Alabama          4875120
1                 Alaska           739786
2                Arizona          7048876
3               Arkansas          3002997
4             California         39399349
5               Colorado          5615902
6            Connecticut          3573880
7               Delaware           957078
8   District of Columbia           695691
9                Florida         20976812
10               Georgia         10413055
11                Hawaii          1424203
12                 Idaho          1718904
13              Illinois         12786196
14               Indiana          6660082
15                  Iowa          3143637
16                Kansas          2910689
17              Kentucky          4453874
18             Louisiana          4670818
19                 Maine          1335063
20              Maryland          6024891
21         Massachusetts          6863246
22              Michigan          9976447
23             Minnesota          5568155
24           Mississippi          2989663
25              Missouri          6108612
26               Montana          1053090
27              Nebraska          1917575
28                Nevada          2972405
29         New Hampshire          1349767
30            New Jersey          8888543
31            New Mexico          2093395
32              New York         19590719
33        North Carolina         10270800
34          North Dakota           755176
35                  Ohio         11664129
36              Oklahoma          3932640
37                Oregon          4146592
38          Pennsylvania         12790447
39          Rhode Island          1056486
40        South Carolina          5021219
41          South Dakota           873286
42             Tennessee          6708794
43                 Texas         28322717
44                  Utah          3103118
45               Vermont           624525
46              Virginia          8465207
47            Washington          7425432
48         West Virginia          1817048
49             Wisconsin          5792051
50               Wyoming           578934